*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/* Navigation Bar */

.navbar-brand img{
    max-height: 40px;
}
.navbar{
    background-color: #e3e6f3;
    height: 80px;
}
.navbar-nav .nav-link{
    color: black;
    font-weight: 500;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.custom-active{
    color: #088178;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #088178;
    transition: width 0.3s ease, left 0.3s ease;
}
.navbar-nav .nav-link.custom-active::after,
.navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-toggler{
    border: 0px solid #e3e6f3;
    background-color: #e3e6f3;
    outline: none;
}

/* Media Query */

@media screen and (max-width:768px){
    .navbar-nav{
        background-color: #e3e6f3;
        text-align: start;
    }
    .navbar-nav .nav-link {
        margin: 10px 0;
    }
}

/* Hero Section */

#hero{
    height: 100vh;
    background-image: url("img/hero4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero h2{
    font-size: 56px;
    font-weight: 600;
}
.hero h3{
    font-size: 48px;
    font-weight: 600;
    color: #088178;
}
.hero p{
    font-size: 18px;
    font-weight: 600;
}
.hero span{
    font-size: 16px;
    color: gray;
}
.hero button{
    background: none;
    background-image: url("img/button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    height: 40px;
    width: 200px;
    cursor: pointer;
}
.hero button a{
    text-decoration: none;
    font-size: 16px;
    color: #088178;
    font-weight: 600;
}

/* Media Query */

@media screen and (max-width:768px) {
    #hero{
        height: 70vh;
        background-position-x: 64%;
        background-position-y: top 120%;
    }
    .hero{
        height: 70vh;
    }
    .hero h2{
        font-size: 32px;
    }
    .hero h3{
        font-size: 24px;
    }
    .hero p{
        font-size: 10px;
    }
    .hero span{
        font-size: 12px;
    }
    .hero button{
        background-size: 75%;
    }
    .hero button a{
        font-size: 10px;
        width: 150px;
    }
}

/* Features Section */
#features{
    margin: 48px 0;
}
.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.fe-box{
    border: 1px solid #cce7d0;
    border-radius: 4px;
    padding: 20px 12px;
}
.fe-box p{
    color: #088178;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    padding: 8px 6px;
}
.fe-box:nth-child(1) p{background-color: #fee5e8;}
.fe-box:nth-child(2) p{background-color: #eecbdb;}
.fe-box:nth-child(3) p{background-color: #d3e9ee;}
.fe-box:nth-child(4) p{background-color: #d7ddf5;}
.fe-box:nth-child(5) p{background-color: #f2e6ec;}
.fe-box:nth-child(6) p{background-color: #d2e8c5;}