*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/* Navigation Bar */

.navbar-brand img{
    max-height: 40px;
}
.navbar{
    background-color: #e3e6f3;
    height: 80px;
    position: sticky;
    top: 0;
}
.navbar-nav .nav-link{
    color: black;
    font-weight: 500;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.custom-active{
    color: #088178;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #088178;
    transition: width 0.3s ease, left 0.3s ease;
}
.navbar-nav .nav-link.custom-active::after,
.navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-toggler{
    border: 0px solid #e3e6f3;
    background-color: #e3e6f3;
    outline: none;
}

/* Media Query */

@media screen and (max-width:768px){
    .navbar-nav{
        background-color: #e3e6f3;
        text-align: start;
    }
    .navbar-nav .nav-link {
        margin: 10px 0;
    }
}

/* Hero Section */

#hero{
    height: 100vh;
    background-image: url("img/hero4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero h2{
    font-size: 56px;
    font-weight: 600;
}
.hero h3{
    font-size: 48px;
    font-weight: 600;
    color: #088178;
}
.hero p{
    font-size: 18px;
    font-weight: 600;
}
.hero span{
    font-size: 16px;
    color: gray;
}
.hero button{
    background: none;
    background-image: url("img/button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    height: 40px;
    width: 200px;
    cursor: pointer;
}
.hero button a{
    text-decoration: none;
    font-size: 16px;
    color: #088178;
    font-weight: 600;
}

/* Media Query */

@media screen and (max-width:768px) {
    #hero{
        height: 70vh;
        background-position-x: 64%;
        background-position-y: top 120%;
    }
    .hero{
        height: 70vh;
    }
    .hero h2{
        font-size: 32px;
    }
    .hero h3{
        font-size: 24px;
    }
    .hero p{
        font-size: 10px;
    }
    .hero span{
        font-size: 12px;
    }
    .hero button{
        background-size: 75%;
    }
    .hero button a{
        font-size: 10px;
        width: 150px;
    }
}

/* Features Section */

#features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card{
    padding: 20px;
}
.card > p{
    text-align: center;
    color: #088178;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 14px;
} 

.fe-box1 p{background-color: #fee5e8;}
.fe-box2 p{background-color: #eecbdb;}
.fe-box3 p{background-color: #d3e9ee;}
.fe-box4 p{background-color: #d7ddf5;}
.fe-box5 p{background-color: #f2e6ec;}
.fe-box6 p{background-color: #d2e8c5;}

/* Featured Products Section and New Arrivals Section */

#featured-products,#new-arrival{
    text-align: center;
}
#featured-products h2,#new-arrival h2{
    font-size: 52px;
    font-weight: 700;
}
#featured-products span,#new-arrival span{
    font-size: 18px;
    color: gray;
    font-weight: 300;
}
#featured-products .card,#new-arrival .card{
    border: 1px solid #d2e8c5;
    border-radius: 24px;
    text-align: start;
}
#featured-products .card img,#new-arrival .card img{
    width: 100%;
    border-radius: 20px;
}
#featured-products .card-body .brand,#new-arrival .card-body .brand{
    color: #606063;
    font-size: 14px;
}
#featured-products .card-body>p,#new-arrival .card-body > p{
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    margin: 0;
    padding: 0;
}
#featured-products .card-body .star,#new-arrival .card-body .star{
    color: #ffd700;
}
.card-link{
    justify-content: space-between;
    text-decoration: none;
    color: #088178;
    font-size: 18px;
    font-weight: 600;
}
.card-link i{
    background-color: #e8f6ea;
    border-radius: 50%;
    padding: 8px 12px;
}

/* Banner */

#banner{
    background: url("banner/b2.jpg");
    color: #fff;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 320px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#banner p{
    font-size: 16px;
    font-weight: 800;
}
#banner h2{
    font-size: 40px;
    font-weight: 900;
}
#banner h2 span{
    color: red;
}
#banner button{
    background-color: #fff;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}
#banner button:hover{
    color: #d3e9ee;
    background-color: #088178;
}
#banner button a{
    text-decoration: none;
    color: black;
}
